<div *ngIf="!editMode" class="container body-content">
  <h2>Clients</h2>

  <p>
    <a href="javascript:void(0)" (click)="newClient()">Create New</a>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients; let i = index">
        <td>
          {{ client.name }}
        </td>
        <td>
          <button
            type="button"
            class="btn btn-success btn-sm mr-2"
            (click)="editClient(i)"
          >
            <i class="fa fa-pencil-square-o"></i>
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="deleteClient(i)"
          >
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
      <tr></tr>
    </tbody>
  </table>

  <hr />
</div>

<div *ngIf="editMode" class="container body-content">
  <h2>Edit</h2>

  <h4>Client</h4>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <form novalidate="novalidate" (ngSubmit)="onSubmit()" #newForm="ngForm">
        <div class="form-group">
          <label class="control-label" for="Name">Name</label>
          <input
            class="form-control"
            type="text"
            data-val="true"
            data-val-required="The Name field is required."
            id="Name"
            [(ngModel)]="model.name"
            name="name"
            value=""
          />
          <span
            class="text-danger field-validation-valid"
            data-valmsg-for="Name"
            data-valmsg-replace="true"
          ></span>
        </div>

        <div class="form-group">
          <input
            type="submit"
            value="UPDATE"
            class="btn btn-outline-secondary"
          />
        </div>
      </form>
    </div>
  </div>

  <div>
    <a href="javascript:void(0)" (click)="cancelEdit()">Back to List</a>
  </div>

  <hr />
  <footer>
    <!-- <div>Version 0.0.3.10 © 2018 - OneBit Software</div> -->
  </footer>
</div>
