<div class="container body-content">
  <h2>Clients</h2>

  <p>
    <a href="javascript:void(0)" (click)="newClient()">Create New</a>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>
          {{ client.name }}
        </td>
        <td>
          <button type="button" class="btn btn-success btn-sm mr-2">
            <i class="fa fa-pencil-square-o"></i>
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="deleteClient(client.id)"
          >
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
      <tr></tr>
    </tbody>
  </table>

  <hr />
</div>
