.container {
  position: relative;
  top: 50px;
  right: -20%;
}

input {
  font-weight: 100;
}

small {
  font-weight: 100 !important;
  font-size: 50% !important;
}

.h4,
.h6 {
  font-weight: 100 !important;
}

.h6 {
  font-weight: 100 !important;
  font-size: 80% !important;
}

.border {
  border: 1px solid;
  border-radius: 10px;
}
.pass_show {
  position: relative;
}

.error {
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
  color: red;
}

.pass_show .ptxt {
  position: absolute;
  top: 40px;
  font-size: 80%;
  right: 10px;
  z-index: 1;
  color: #f36c01;
  /* margin-top: -10px; */
  cursor: pointer;
  transition: 0.3s ease all;
}

.pass_show .ptxt:hover {
  color: #333333;
}

.card {
  border-radius: 0.55rem !important;
}
